@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900');

*
{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background: #091921;
}

/* Seven Segments container */
.sevenSegCon
{
    width: 100%;
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background: #ff0; */
    
}

.sevenSeg
{
    /* width: 40px;
    height: 40px; */
/* 
    width: 100px;
    height: 100px; */

    /* background: #ff0; */

    margin: 10px;
    display: grid;

    /* grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto; */
    
}

.sevenSeg div
{
    display: flex;
    justify-content: center;
    align-items: center;
  
    
}

/* Segments a, g, d -> horizontals & 3 grid spaces   */
.sevenSeg div:nth-child(1),
.sevenSeg div:nth-child(5),
.sevenSeg div:nth-child(9)
{
    grid-column: span 3;

}

/* Segments f,e  -> vertical grid spaces   */
.sevenSeg div:nth-child(2),
.sevenSeg div:nth-child(6)
{
    /* background: #ff0; */
    grid-row: span 2;
/* 
    height: 100px;
    width: auto;
    clip-path: polygon(53% 0, 0 20%, 0 80%, 57% 100%, 100% 79%, 100% 20%); */
}

/* Empty space middle rows */
.sevenSeg div:nth-child(3),
.sevenSeg div:nth-child(7)
{
    /* background: rgb(55, 21, 206); */
    grid-row: span 2;    
    width: 45px;
}

/* Segments b, c  -> vertical grid spaces   */
.sevenSeg div:nth-child(4),
.sevenSeg div:nth-child(8)
{
    /* background: rgb(3, 187, 243); */
    grid-row: span 2;
}

/* Horizontal segments */
.segA, 
.segG, 
.segD
{
    /* background: #f00; */
    background: rgba(49, 49, 49, 0.5);
    width: 60px;
    height: 20px;
    clip-path: polygon(22% 0, 0% 53%, 23% 100%, 81% 100%, 100% 50%, 79% 0);
}

/* Vertical segments */
.segB,
.segC,
.segE,
.segF
{
    /* background: #f00; */
    background: rgba(49, 49, 49, 0.5);


    height: 85px;
    width: 20px;
    clip-path: polygon(53% 0, 0 20%, 0 80%, 57% 100%, 100% 79%, 100% 20%); 

} 

/* Center dot container */
.dot 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

/* Center dot styling with light gray color */
.dot span 
{
    width: 20px;
    height: 20px;
    background: rgb(133, 133, 133);
    border-radius: 50%;
    margin: 15px;
}












